body { 
    margin: 0; 
    padding: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

/* MAIN BODY */
section.mainbody {
    background: white;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding: 0;
}

section.leftpane {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin: 0 1px 0 0;
    border-style: solid;
    border-width: 1px;
}

section.rightpane {
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 400px;
    margin: 0 0 0 1px;
    border-style: solid;
    border-width: 1px;
}


div.connectbar {
    font-size: 14pt;
    text-align: center;
    margin: 0 0 0 0;
}

div.messagebar {
    font-size: 8pt;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}


#connectForm { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}

#connectForm > button { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff;
}

#connectForm > select {
    margin: 0.25rem; 
}

div.messages {
    margin: auto;
    width: 98%;
}

#messages { 
    list-style-type: none; 
    margin: 0;
    padding: 0;
    
    resize: none;
    width: 100%;
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) { 
    background: #efefef; 
}

/* FOOTER */
footer {
    font-size: 8pt;
    text-align: center;
}
