body { 
    margin: 0; 
    padding: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

/* MAIN BODY */
section.mainbody {
    background: white;
    color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    padding: 0;
}

section.toppane {
    background: white;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding: 0;
}

section.leftpane {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin: 0 1px 0 0;
    border-style: solid;
    border-width: 1px;
}

section.rightpane {
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 673px;
    margin: 0 0 0 1px;
    border-style: solid;
    border-width: 1px;
}


div.connectbar {
    font-size: 14pt;
    text-align: center;
    margin: 0 0 0 15px;
}

div.workingpanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 1px 0 0;
    border-style: solid;
    border-width: 1px;
}

div.statuspanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 1px 0 0;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

div.deploymentpanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 1px 0 0;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

div.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px 0 0 0;
}

div.deployments-manager {
    margin: 0 12px 0 0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

/* The deployments management */
div.deployments-management {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    margin: 0 3px 0 5px;
    padding: 2px 2px 2px 2px;
    font-size: 12pt;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-color:gray;
    border-style: solid;
}

div.deployment-group {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    padding: 2px 2px 2px 2px;
}

div.deployment-controls {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin: 0 3px 0 5px;
    padding: 2px 2px 2px 2px;
    font-size: 12pt;
    text-align: center;
    height: 210px;
}

div.deployment-controls button {
    width: 85px;
    margin: 0;
}        

#newpopulation {
    margin: 0 2px 0 0;
    width: 128px;
}

select#deploymentsselectlist {
    font-size: 10pt;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 180px;
}


div.deployment-manager {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 0 2px;
    width: 442px;
}

div.messagebar {
    font-size: 8pt;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

div.stripchartbar {
    font-size: 18pt;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}


.connect-disconnect { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff;
    height: 30px;
}

#connectionPanel { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}

#connectButton { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff;
}

#newmodel {
    margin: 0 5px 0 15px;
}

#servers {
    margin: 0.25rem; 
}

.control-label {
    float: left;
    width: 30%;
    font-size: 12pt;
}

.control-value {
    float: left;
    font-weight: bold;
    font-family: monospace;
    width: 20%;
    font-size: 8pt;
}

.control {
    float: right;
    font-weight: bold;
}

.select {
    width: 160px;
}

.property-switch {
    vertical-align: middle;
    margin: 8px 2px 0 4px;
    /*margin-left: 4px;*/
}

.rightpane hr {
    width: 50%;
}

span.loglevel {
    width: 180px;
}

#messages { 
    list-style-type: none; 
    margin: 0;
    padding: 0;
    
    resize: none;
    width: 100%;
}

#status { 
    list-style-type: none; 
    margin: 0;
    padding: 0;
    
    resize: none;
    width: 100%;
}

/* FOOTER */
footer {
    font-size: 8pt;
    text-align: center;
}
